body  
{  
    margin: 0;  
    padding: 0;  
    background: linear-gradient(#e66465, #9198e5);
    font-family: 'Arial';
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}  
.login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #BDC7C5;  
    border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid;
	box-shadow: 5 px 10 px #888888;
}
.login:hover {
	color:purple;
}
h1{  
	position: relative;
    text-align: center;  
    color: #0c1517;
    padding: 20px;  
}  
label{  
    color: #047f68;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;
}  
span{  
    color: white;  
    font-size: 17px;  
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px 50px;
}