.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  padding: 10px;
  color: azure;
  outline: none;
  margin-right: 5px;
  margin-top: 5px;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  background-color: black;
  text-align: center;
  text-decoration: none;
  height: max-content;
}

.query-item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
  border-top: #282c34 solid;
  margin-bottom: 1%;
}

.text-center, form{
  margin: 0 5%;
}

table{
  width: 50%;
  margin: 10% auto;
}

.ta-item {
  border-top: #282c34 solid;
  margin-bottom: 1%;
  margin: 5% auto;
  width: 95%;
}

textarea, .textarea{
  width: 25em;
  background-color: white;
  border: 1px solid;
}

.textarea{
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 1.5em;
}

.translate-middle-x{
  margin-left: 5%;
}