<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Added </title>
        <link rel="stylesheet" href="./style.css">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
    </head>
    <body>
        <p>
            Please Login First. 
            <button onClick='navigatetologin' className='btn btn-primary'> 
                Go To Login 
            </button>
        </p>
    </body>
    <script>
        function navigatetologin(){
            window.location = 'localhost:3000/'
        }
    </script>
</html>